h2:before {
    content: counter(hits);
}


input:checked {
    counter-increment: hits;
}
  

label {
    display: inline-block;
    height: 175px;
    width: 100px;
    background-size: cover;
    border: 1px solid black;
}

label:before {
    content: "";
    display: inline-block;
    height: 175px;
    width: 100px;
    background-image: url(/img/mole.svg);
    background-size: cover;
}

input:checked + label:before {
    background-image: url(/img/dead-mole.svg);
}

