// spacing
$full-height: 100vh;
$screen-width: 500px;


//colors
$primary-color: #007bff;
$secondary-color: #ff0000;
$dirt-color1: #95604d;
$dirt-color2: #814734;
$dirt-color3: #6c3e2d;



//animation
$ease-in-out-curve: cubic-bezier(.25, .1, .25, 1);
